.main-container {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
}

.title {
  text-align: center;
  padding: 15px 0;
  border: 2px solid #fff;
  width: 196px;
  margin: 15px 0;
}

img {
  width: 200px;
  height: 200px;
}

.cocktails-image {
  width: 500px;
  height: 500px;
}
